In [99]:
import pandas as pd

# Load the dataset to inspect the data types and null values
file_path = "C:/Users/User/Downloads/HELPmiss (1).csv"
data = pd.read_csv(file_path)

# Display data types and null value counts
data_info = data.info()

data_info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 470 entries, 0 to 469
Data columns (total 29 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rownames          470 non-null    int64
 1   age               470 non-null    int64
 2   anysub            254 non-null    object
 3   cesd              470 non-null    int64
 4   d1                470 non-null    int64
 5   daysanysub        252 non-null    float64
 6   dayslink          447 non-null    float64
 7   drugrisk          468 non-null    float64
 8   e2b               222 non-null    float64
 9   female            470 non-null    int64
 10  sex               470 non-null    object
 11  g1b               470 non-null    object
 12  homeless          470 non-null    object
 13  i1                470 non-null    int64
 14  i2                470 non-null    int64
 15  id                470 non-null    int64
 16  indtot            456 non-null    float64
 17  link              447 non-null    object
 18  mcs               468 non-null    float64
 19  pcs               468 non-null    float64
 20  pss_fr            470 non-null    int64
 21  racegrp           470 non-null    object
 22  satreat           470 non-null    object
 23  sexrisk           469 non-null    float64
 24  substance         470 non-null    object
 25  treat             470 non-null    object
 26  avg_drinks        470 non-null    int64
 27  max_drinks        470 non-null    int64
 28  hospitalizations  470 non-null    int64
dtypes: float64(8), int64(12), object(9)
memory usage: 106.6+ KB

In [101]:
# Summary of missing values in the dataset
missing_values_summary = data.isnull().sum().reset_index()
missing_values_summary.columns = ['Column', 'Missing Values']
missing_values_summary['Percentage Missing'] = (missing_values_summary['Missing Values']/len(data)) * 100

missing_values_summary

              Column  Missing Values  Percentage Missing
0           rownames               0            0.000000
1                age               0            0.000000
2             anysub             216           45.957447
3               cesd               0            0.000000
4                 d1               0            0.000000
5         daysanysub             218           46.382979
6           dayslink              23            4.893617
7           drugrisk               2            0.425532
8                e2b             248           52.765957
9             female               0            0.000000
10               sex               0            0.000000
11               g1b               0            0.000000
12          homeless               0            0.000000
13                i1               0            0.000000
14                i2               0            0.000000
15                id               0            0.000000
16            indtot              14            2.978723
17              link              23            4.893617
18               mcs               2            0.425532
19               pcs               2            0.425532
20            pss_fr               0            0.000000
21           racegrp               0            0.000000
22           satreat               0            0.000000
23           sexrisk               1            0.212766
24         substance               0            0.000000
25             treat               0            0.000000
26        avg_drinks               0            0.000000
27        max_drinks               0            0.000000
28  hospitalizations               0            0.000000

In [103]:
# Drop the specified columns that they would not be analyzed
data_cleaned = data.drop(columns=["link",
                                  "d1", 
                                  "i1", 
                                  "i2", 
                                  "id", 
                                  "treat", 
                                  "max_drinks", 
                                  "anysub", 
                                  "daysanysub", 
                                  "e2b", 
                                  "dayslink", 
                                  "indtot"])
# Summary of missing values in the dataset
missing_values_summary2 = data_cleaned.isnull().sum().reset_index()
missing_values_summary2.columns = ['Column', 'Missing Values']
missing_values_summary2['Percentage Missing'] = (missing_values_summary2['Missing Values']/len(data)) * 100

missing_values_summary2

              Column  Missing Values  Percentage Missing
0           rownames               0            0.000000
1                age               0            0.000000
2               cesd               0            0.000000
3           drugrisk               2            0.425532
4             female               0            0.000000
5                sex               0            0.000000
6                g1b               0            0.000000
7           homeless               0            0.000000
8                mcs               2            0.425532
9                pcs               2            0.425532
10            pss_fr               0            0.000000
11           racegrp               0            0.000000
12           satreat               0            0.000000
13           sexrisk               1            0.212766
14         substance               0            0.000000
15        avg_drinks               0            0.000000
16  hospitalizations               0            0.000000

In [105]:
# Imputation with median in column "drugrisk", "mcs", "pcs"
columns_median = ["drugrisk", "mcs", "pcs"]
median_values = data_cleaned[columns_median].median()

data_cleaned[columns_median] = data_cleaned[columns_median].fillna(median_values)
data_cleaned[columns_median]

null_counts = data_cleaned.isnull().sum()
print(null_counts)

rownames            0
age                 0
cesd                0
drugrisk            0
female              0
sex                 0
g1b                 0
homeless            0
mcs                 0
pcs                 0
pss_fr              0
racegrp             0
satreat             0
sexrisk             1
substance           0
avg_drinks          0
hospitalizations    0
dtype: int64

In [107]:
# Imputation with mode in column "sexrisk"
columns_to_impute = ["sexrisk"] 

# 1. Calculate the mode for the selected columns
mode_values = data_cleaned[columns_to_impute].mode().iloc[0]

# 2. Impute using fillna
data_cleaned[columns_to_impute] = data_cleaned[columns_to_impute].fillna(mode_values)

null_counts = data_cleaned.isnull().sum()
print(null_counts)
data_cleaned.head()

rownames            0
age                 0
cesd                0
drugrisk            0
female              0
sex                 0
g1b                 0
homeless            0
mcs                 0
pcs                 0
pss_fr              0
racegrp             0
satreat             0
sexrisk             0
substance           0
avg_drinks          0
hospitalizations    0
dtype: int64

,rownames,age,cesd,drugrisk,female,sex,g1b,homeless,mcs,pcs,pss_fr,racegrp,satreat,sexrisk,substance,avg_drinks,hospitalizations
0,1,37,49,0.0,0,male,yes,housed,25.111990,58.413689,0,black,no,4.0,cocaine,13,3
1,2,37,30,0.0,0,male,yes,homeless,26.670307,36.036942,1,white,no,7.0,alcohol,56,22
2,3,26,39,20.0,0,male,no,housed,6.762923,74.806328,13,black,no,2.0,heroin,0,0
3,4,39,15,0.0,1,female,no,housed,43.967880,61.931679,11,white,yes,4.0,heroin,5,2
4,5,32,39,0.0,0,male,no,homeless,21.675755,37.345585,10,black,no,6.0,cocaine,10,12

In [109]:
# Create the new column "rabscores" and rearrange the column name
data_cleaned["rabscores"] = ( data_cleaned["drugrisk"] + data_cleaned["sexrisk"] ) / 40 
selected_columns = ["age", 
                    "sex", 
                    "racegrp", 
                    "homeless", 
                    "substance", 
                    "mcs", 
                    "pcs", 
                    "cesd", 
                    "pss_fr", 
                    "g1b", 
                    "avg_drinks", 
                    "hospitalizations", 
                    "rabscores", 
                    "satreat"]
all_data = data_cleaned[selected_columns]
all_data

,age,sex,racegrp,homeless,substance,mcs,pcs,cesd,pss_fr,g1b,avg_drinks,hospitalizations,rabscores,satreat
0,37,male,black,housed,cocaine,25.111990,58.413689,49,0,yes,13,3,0.100,no
1,37,male,white,homeless,alcohol,26.670307,36.036942,30,1,yes,56,22,0.175,no
2,26,male,black,housed,heroin,6.762923,74.806328,39,13,no,0,0,0.550,no
3,39,female,white,housed,heroin,43.967880,61.931679,15,11,no,5,2,0.100,yes
4,32,male,black,homeless,cocaine,21.675755,37.345585,39,10,no,10,12,0.150,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465,33,male,white,housed,heroin,41.943066,56.968681,28,7,no,0,1,0.100,no
466,49,male,white,housed,alcohol,62.175503,57.253838,37,11,no,13,0,0.000,no
467,39,female,white,homeless,heroin,33.434536,40.045715,28,1,no,1,0,0.075,no
468,59,male,black,homeless,cocaine,54.424816,53.732044,11,7,no,13,2,0.225,yes
469,45,male,white,homeless,alcohol,30.212227,43.476074,35,11,no,51,1,0.100,no

In [111]:
# Check the data again and founnd substance had 4 which should have three substances (Alcohol, Cocaine, Heroin)
descriptive_stats = all_data.describe(include='all')
descriptive_stats

,age,sex,racegrp,homeless,substance,mcs,pcs,cesd,pss_fr,g1b,avg_drinks,hospitalizations,rabscores,satreat
count,470.000000,470,470,470,470,470.000000,470.000000,470.000000,470.000000,470,470.000000,470.000000,470.000000,470
unique,NaN,2,4,2,4,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,2
top,NaN,male,black,housed,alcohol,NaN,NaN,NaN,NaN,no,NaN,NaN,NaN,no
freq,NaN,359,218,251,185,NaN,NaN,NaN,NaN,336,NaN,NaN,NaN,338
mean,35.751064,NaN,NaN,NaN,NaN,31.536423,48.078941,32.859574,6.674468,NaN,18.259574,3.097872,0.162394,NaN
std,7.799442,NaN,NaN,NaN,NaN,12.758486,10.731822,12.453815,4.015215,NaN,20.128920,6.213250,0.127567,NaN
min,18.000000,NaN,NaN,NaN,NaN,6.762923,14.074291,1.000000,0.000000,NaN,0.000000,0.000000,0.000000,NaN
25%,30.000000,NaN,NaN,NaN,NaN,21.670294,40.389892,25.000000,3.000000,NaN,3.000000,1.000000,0.075000,NaN
50%,35.000000,NaN,NaN,NaN,NaN,28.557811,48.887625,34.000000,7.000000,NaN,13.000000,2.000000,0.125000,NaN
75%,41.000000,NaN,NaN,NaN,NaN,40.590979,56.941067,41.000000,10.000000,NaN,26.000000,3.750000,0.200000,NaN
max,60.000000,NaN,NaN,NaN,NaN,62.175503,74.806328,60.000000,14.000000,NaN,142.000000,100.000000,0.775000,NaN

In [113]:
# Found the string value in substances
all_data[all_data['substance'] == 'missing']

,age,sex,racegrp,homeless,substance,mcs,pcs,cesd,pss_fr,g1b,avg_drinks,hospitalizations,rabscores,satreat
37,18,female,other,homeless,missing,25.19557,34.288254,38,8,no,24,1,0.075,no

In [115]:
# Calculate the mode of the "substance" column
mode_value = all_data['substance'].mode()[0]

# Replace "missing" with the mode value
all_data['substance'] = all_data['substance'].replace('missing', mode_value)

# filter substance only "heroin" and check unique value again
alcohol_group = all_data[all_data['substance'] == 'alcohol']
print(alcohol_group["substance"].unique())
alcohol_group

# Export to csv file as alcohol_group for correlation analysis
alcohol_group.to_csv('alcohol_group.csv', index=False)
# Verify the export by checking the file in your working directory
print("File exported successfully!")

['alcohol']
File exported successfully!

C:\Users\User\AppData\Local\Temp\ipykernel_26116\3790538794.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data['substance'] = all_data['substance'].replace('missing', mode_value)

In [117]:
# filter substance only "heroin" and check unique value again
heroin_group = all_data [all_data['substance'] == 'heroin']
print(heroin_group["substance"].unique())
heroin_group

# Export to csv file as heroin_group for correlation analysis
heroin_group.to_csv('heroin_group.csv', index=False)
# Verify the export by checking the file in your working directory
print("File exported successfully!")

['heroin']
File exported successfully!

In [119]:
# filter substance only "cocaine" and check unique value again
cocaine_group = all_data [all_data['substance'] == 'cocaine']
print(cocaine_group["substance"].unique())
cocaine_group

cocaine_group.to_csv('cocaine_group.csv', index=False)
# Verify the export by checking the file in your working directory
print("File exported successfully!")

['cocaine']
File exported successfully!

In [121]:
alcohol_group

,age,sex,racegrp,homeless,substance,mcs,pcs,cesd,pss_fr,g1b,avg_drinks,hospitalizations,rabscores,satreat
1,37,male,white,homeless,alcohol,26.670307,36.036942,30,1,yes,56,22,0.175,no
7,28,male,white,homeless,alcohol,9.160530,65.138008,32,4,yes,12,1,0.325,yes
8,50,female,white,homeless,alcohol,22.029678,38.270878,50,5,no,71,14,0.650,no
11,58,female,black,housed,alcohol,13.382205,41.933762,49,13,no,13,3,0.000,yes
12,58,male,white,homeless,alcohol,49.089302,39.242641,22,13,no,20,5,0.025,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,33,female,hispanic,homeless,alcohol,34.152245,45.270355,40,2,yes,26,2,0.075,no
460,31,male,other,homeless,alcohol,52.792542,57.126736,9,11,no,4,1,0.050,no
463,31,female,hispanic,homeless,alcohol,17.050970,34.516228,47,8,yes,56,1,0.350,yes
466,49,male,white,housed,alcohol,62.175503,57.253838,37,11,no,13,0,0.000,no
469,45,male,white,homeless,alcohol,30.212227,43.476074,35,11,no,51,1,0.100,no

In [123]:
heroin_group

,age,sex,racegrp,homeless,substance,mcs,pcs,cesd,pss_fr,g1b,avg_drinks,hospitalizations,rabscores,satreat
2,26,male,black,housed,heroin,6.762923,74.806328,39,13,no,0,0,0.550,no
3,39,female,white,housed,heroin,43.967880,61.931679,15,11,no,5,2,0.100,yes
9,39,male,white,homeless,heroin,36.143761,22.610598,46,0,no,20,4,0.500,yes
10,34,female,white,housed,heroin,43.974678,60.079155,46,0,no,0,0,0.250,no
15,28,female,hispanic,homeless,heroin,29.799828,44.776512,35,7,yes,0,6,0.075,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458,37,male,hispanic,housed,heroin,23.716438,38.246002,47,7,no,53,2,0.550,no
461,25,male,black,housed,heroin,28.609346,52.023380,37,6,no,3,3,0.100,yes
464,24,male,white,homeless,heroin,25.851772,50.608341,34,5,no,0,0,0.425,yes
465,33,male,white,housed,heroin,41.943066,56.968681,28,7,no,0,1,0.100,no
467,39,female,white,homeless,heroin,33.434536,40.045715,28,1,no,1,0,0.075,no

In [125]:
cocaine_group

,age,sex,racegrp,homeless,substance,mcs,pcs,cesd,pss_fr,g1b,avg_drinks,hospitalizations,rabscores,satreat
0,37,male,black,housed,cocaine,25.111990,58.413689,49,0,yes,13,3,0.100,no
4,32,male,black,homeless,cocaine,21.675755,37.345585,39,10,no,10,12,0.150,no
5,47,female,black,housed,cocaine,55.508991,46.475212,6,5,no,4,1,0.125,no
6,49,female,black,housed,cocaine,21.793024,24.515039,52,1,yes,13,14,0.200,yes
13,60,male,black,homeless,cocaine,25.846157,31.829649,36,1,no,13,10,0.100,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,33,male,black,homeless,cocaine,37.102394,51.635689,15,2,no,3,0,0.075,no
445,33,male,black,homeless,cocaine,46.330513,59.165474,31,8,no,5,0,0.075,no
446,39,male,white,homeless,cocaine,13.412563,42.085346,54,7,no,68,6,0.075,no
462,43,male,black,housed,cocaine,28.913475,52.609222,25,1,no,3,0,0.100,no
468,59,male,black,homeless,cocaine,54.424816,53.732044,11,7,no,13,2,0.225,yes